 *.html linguist-language=Python
*.css linguist-language=Python 
 

# Keep some HTML/CSS/JS files as their original type
# Adjust these patterns to control which files remain as HTML/CSS/JS
home.html linguist-language=HTML
admin_project.html linguist-language=HTML
dashboard.html linguist-language=HTML
service_admin.html linguist-language=HTML
contact_management.html linguist-language=HTML
portfolio.html linguist-language=HTML
singleproject.html linguist-language=HTML
testimonials.html linguist-language=HTML

# css/specific-folder/*.css linguist-language=CSS
cropper.common.js linguist-language=JavaScript
cropper.js linguist-language=JavaScript
cropper.esm.js linguist-language=JavaScript
cropper.min.js linguist-language=JavaScript
jquery.js linguist-language=JavaScript
jquery.min.js linguist-language=JavaScript
jquery.slim.js linguist-language=JavaScript