# Treat HTML as Django templates (NOT counted as HTML)
*.html linguist-language=Django

# Do NOT count CSS/JS as main languages
*.css linguist-vendored
*.js linguist-vendored

# Force Python to be fully counted
*.py linguist-detectable=true
